.data-overview-container {
  width: 100%;
  height: 100%;
  background-image: url('~assets/images/chart.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -28px -11px;
  //   background-color: red;
}
